/* тело */
body {
    background-color: pink;

    overflow: hidden;

    margin: 0;
}

/* блок галереи */
div.gallery{    
    perspective: 500px;
}

/* все изображения*/
img {
    position: absolute;

    height: 100%;
}

/* левое */
div#left {
    position: absolute;

    transform: rotateY(20deg);
}

div#left img {
    position: absolute;

    /* обрезка изображения */
    width: 100%;
    object-fit: cover;
    object-position: left;

    cursor: pointer;
}

/* центральное */
center img#center {
    /* ограничение для портретного варианта галереи */
    max-width: 75%;

    object-fit: contain;

    z-index: 1;

    transform: translateX(-50%);
}

/* правое */
div#right {
    position: absolute;
    
    transform: rotateY(-20deg);
}

div#right img {
    position: absolute;

    /* обрезка изображения */
    width: 100%;
    object-fit: cover;
    object-position: right;

    cursor: pointer;
}