details div.image-spoiler {
    height: 500px;
    width: 100%;

    position: relative;

    perspective: 500px;
}

details div.image-spoiler img {
    height: 95%;

    float: left;

    position: absolute;
    top: 0;
}

details div.image-spoiler div#left {
    height: 400px;
    margin-top: 37.5px;
    width: 100px;

    position: absolute;
    /* изменяется в скрипте onload-page.js */
    /* изменяется в скрипте image-spoiler.js */
    left: 300px;

    transform: rotateY(20deg);
}

details div.image-spoiler div#left img {
    position: absolute;
    left: 0;

    height: 100%;

    /* обрезка изображения */
    width: 100%;
    object-fit: cover;
    object-position: 0 0;

    cursor: pointer;
}

details div.image-spoiler img#center {
    z-index: 1;

    transform: translateX(-50%);
}

details div.image-spoiler div#right {
    height: 400px;
    margin-top: 37.5px;
    width: 100px;

    position: absolute;
    /* изменяется в скрипте onload-page.js */
    /* изменяется в скрипте image-spoiler.js */
    right: 300px;

    transform: rotateY(-20deg);
}

details div.image-spoiler div#right img {
    position: absolute;
    right: 0;

    height: 100%;

    /* обрезка изображения */
    width: 100%;
    object-fit: cover;
    object-position: 0 0;

    cursor: pointer;
}

details div.image-spoiler span {
    visibility: hidden;

    width: 100%;
    
    z-index: 1;

    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
}